<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="activities.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <title>Кружки</title>
  </head>
  <body>
    <header>
      <a href="/">
        <img src="./church1.png" alt="church" class="logo_img" width="40" height="40" />
      </a>
      <nav>
        <ul>
          <li><a href="#">кружки</a></li>
          <li><a href="#">расписание</a></li>
          <li><a href="#">о нас</a></li>
          <li><a href="#">вход</a></li>
          <li><a href="#">регистрация</a></li>
        </ul>
      </nav>
    </header>

    <section class="filter">
      <input class="search-input" type="text" placeholder="Поиск кружков" />
    </section>

    <section class="activities-list">
      <div class="activity-item">
        <div class="activity-info">
          <h3>Рукоделие</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores officia id perferendis
            dolor, voluptatibus mollitia, laboriosam vel modi explicabo sequi quod quis quos quo
            veritatis, consequuntur unde blanditiis enim? At.
          </p>
        </div>
        <div class="circle"></div>
      </div>
      <div class="activity-item">
        <div class="activity-info">
          <h3>Рисование</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores officia id perferendis
            dolor, voluptatibus mollitia, laboriosam vel modi explicabo
          </p>
        </div>
        <div class="circle"></div>
      </div>
      <div class="activity-item">
        <div class="activity-info">
          <h3>Лепка</h3>
          <p>
            Dolores officia id perferendis dolor, voluptatibus mollitia, laboriosam vel modi
            explicabo sequi quod quis quos quo veritatis, consequuntur unde blanditiis enim? At.
          </p>
        </div>
        <div class="circle"></div>
      </div>
      <div class="activity-item">
        <div class="activity-info">
          <h3>Танцы</h3>
          <p>
            Laboriosam vel modi explicabo sequi quod quis quos quo veritatis, consequuntur unde
            blanditiis enim? At.
          </p>
        </div>
        <div class="circle"></div>
      </div>
    </section>
  </body>
</html>
