{% extends "main/base.html" %}

{% block content %}
<main>
	<div class="image-container">
                <img src="{{ MEDIA_URL }}church.png" alt="Церковь">
                <div class="text-overlay">
                    <h1>Лучшая школа для лучшего мира</h1>
                    <p>Здесь мы собираемся каждое воскресенье, чтобы учиться, творить и веселиться, создавая уникальные рукодельные проекты. Наши занятия помогут детям развить творческие способности, моторику рук и воображение.</p>
                </div>
                <img src="{{ MEDIA_URL }}decoration.png" alt="Синий декоративный элемент" class="decorative-element">
    </div>
            <div class="container swiper-body">
                <div class="container swiper">
                    <div class="card-wrapper">
                        <ul class="card-list swiper-wrapper">
                            <li class="card-item swiper-slide">
                                <a href="#" class="card-link">
                                    <img src="{{ MEDIA_URL }}display.jpg" alt="testPic" class="card-image">
                                    <p class="badge display">Test1</p>
                                    <h2 class="card-title">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem beatae blanditiis deserunt, error fuga impedit magni nobis possimus, quisquam ratione repellat sit voluptatibus! Deserunt fugit neque odit quam ut.
                                    </h2>
                                    <button class="card-button material-symbols-outlined">arrow_forward</button>
                                </a>
                            </li>
                            <li class="card-item swiper-slide">
                                <a href="#" class="card-link">
                                    <img src="{{ MEDIA_URL }}drawing.jpg" alt="testPic" class="card-image">
                                    <p class="badge drawing">Test2</p>
                                    <h2 class="card-title">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem beatae blanditiis deserunt, error fuga impedit magni nobis possimus, quisquam ratione repellat sit voluptatibus! Deserunt fugit neque odit quam ut.
                                    </h2>
                                    <button class="card-button material-symbols-outlined">arrow_forward</button>
                                </a>
                            </li>
                            <li class="card-item swiper-slide">
                                <a href="#" class="card-link">
                                    <img src="{{ MEDIA_URL }}display.jpg" alt="testPic" class="card-image">
                                    <p class="badge">Test3</p>
                                    <h2 class="card-title">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem beatae blanditiis deserunt, error fuga impedit magni nobis possimus, quisquam ratione repellat sit voluptatibus! Deserunt fugit neque odit quam ut.
                                    </h2>
                                    <button class="card-button material-symbols-outlined">arrow_forward</button>
                                </a>
                            </li>
                            <li class="card-item swiper-slide">
                                <a href="#" class="card-link">
                                    <img src="{{ MEDIA_URL }}display.jpg" alt="testPic" class="card-image">
                                    <p class="badge">Test4</p>
                                    <h2 class="card-title">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem beatae blanditiis deserunt, error fuga impedit magni nobis possimus, quisquam ratione repellat sit voluptatibus! Deserunt fugit neque odit quam ut.
                                    </h2>
                                    <button class="card-button material-symbols-outlined">arrow_forward</button>
                                </a>
                            </li>
                            <li class="card-item swiper-slide">
                                <a href="#" class="card-link">
                                    <img src="{{ MEDIA_URL }}display.jpg" alt="testPic" class="card-image">
                                    <p class="badge">Test5</p>
                                    <h2 class="card-title">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem beatae blanditiis deserunt, error fuga impedit magni nobis possimus, quisquam ratione repellat sit voluptatibus! Deserunt fugit neque odit quam ut.
                                    </h2>
                                    <button class="card-button material-symbols-outlined">arrow_forward</button>
                                </a>
                            </li>
                        </ul>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-slide-buttons swiper-button-prev"></div>
                        <div class="swiper-slide-buttons swiper-button-next"></div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="search-form">
                    <input class="search-form-txt" type="text" placeholder="Поиск по мероприятиям">
                    <button class="search-form-but"><img class="search-form-img" src="{{ MEDIA_URL }}search.svg" alt="image"></button>
                </div>
            </div>

            <div class="blog">
                <div class="blog_2">
                    <div class="post">
                        <div class="image-section">
                            <img src="{{ MEDIA_URL }}display.jpg" alt="Icon" class="icon-image">
                            <img src="{{ MEDIA_URL }}display.jpg" alt="Image" class="background">
                        </div>
                        <div class="text-section">
                            <p>“Путешествие в прошлое: Уникальный урок истории в Воскресной школе Ефросинии Московской”</p>
                            <a href="#">Читать далее...</a>
                        </div>
                    </div>

                    <div class="post">
                        <div class="image-section">
                            <img src="{{ MEDIA_URL }}church.png" alt="Icon" class="icon-image">
                            <img src="{{ MEDIA_URL }}church.png" alt="Image" class="background">
                        </div>
                        <div class="text-section">
                            <p>“Путешествие в прошлое: Уникальный урок истории в Воскресной школе Ефросинии Московской”</p>
                            <a href="#">Читать далее...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion">
                <div class="contentBx">
                    <div class="question">Где находится воскресная школа?</div>
                    <div class="answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, atque, eius excepturi id iure magni maxime molestias nemo nesciunt nisi nostrum provident, repudiandae saepe sit tenetur unde? Labore, sint!</p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="question">С какого возраста ребёнок может...</div>
                    <div class="answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, atque, eius excepturi id iure magni maxime molestias nemo nesciunt nisi nostrum provident, repudiandae saepe sit tenetur unde? Labore, sint!</p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="question">Чем занимается воскресная школа?</div>
                    <div class="answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, atque, eius excepturi id iure magni maxime molestias nemo nesciunt nisi nostrum provident, repudiandae saepe sit tenetur unde? Labore, sint!</p>
                    </div>
                </div>
                <div class="contentBx">
                    <div class="question">Сколько стоит обучение в воскреной...</div>
                    <div class="answer">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, atque, eius excepturi id iure magni maxime molestias nemo nesciunt nisi nostrum provident, repudiandae saepe sit tenetur unde? Labore, sint!</p>
                    </div>
                </div>
            </div>
    </main>
{% endblock %}
